binds {
    Mod+T hotkey-overlay-title="Open a Terminal: Kitty" { spawn "kitty"; }
    Alt+Space hotkey-overlay-title="Application Chooser: Fuzzel" { spawn "fuzzel"; }
    Mod+W hotkey-overlay-title="Google Chrome" { spawn "google-chrome-stable" "--password-store=kwallet6"; }
    Mod+E hotkey-overlay-title="Open a File Manager: Thunar" { spawn "thunar"; }
    Mod+S hotkey-overlay-title="Firefox" { spawn "firefox"; }
    Mod+Shift+Escape { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+D hotkey-overlay-title="Discord" { spawn "discord" "--enable-features=UseOzonePlatform" "--ozone-platform=wayland" "--disable-features=GlobalShortcutsPortal"; }

    Ctrl+Alt+Delete { spawn "missioncenter"; }

    //Framework fix - reload touchpad module (sudo rule needed)
    Ctrl+Right	{ spawn "sudo" "~/.config/niri/fixtouchpad.sh"; }
}
